ul {
  display: flex;
  list-style-type: none;
  margin: auto 0;
  padding: 1vh 0vh 0vh 0vh;
  overflow: hidden;
  justify-content: center;
}
  
li {
  float: center;
  align-self: center;
}
  
li p2 {
  display: block;
  color: black;
  text-align: center;
  padding: 0vw 18vw 0vw 0vw;
  /*margin: 0vw 15vw 0vw 0vw;*/
  font-size: 3.8vh;
  font-weight: 120;
  font-family: "Garamond", serif;
  font-style: normal;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 18px;
  margin: 0px 17px;
  font-size: 3vh;
  font-weight: 120;
  font-family: "Garamond", serif;
  text-decoration: none;
}
  
li p3:hover {
  background-color: rgb(251, 250, 252);
}


  
#introduction {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Center content horizontally within the flex container */
  gap: 1vw; /* Set the gap between child elements in the flex container */
  height: 50vh; /* Set the height of the profile section to 80% of the viewport height */
}

.intro_pics {
  display: flex; 
  justify-content: center;
  height: 40vh; 
  margin: auto 0;
  padding: 0;

  object-fit: contain;
  overflow:hidden;
  clip-path: circle();
}



.intro_pics_text {
  align-self: center;
  text-align: center;
}

.intro_pics_text_title {
  align-self: center; /* Center the text vertically within the flex container */
  text-align: center; /* Center the text horizontally within the container */
  font-family: Georgia;
  font-size: 6.5vh;
  color: black;
  margin: 0;
}

.intro_pics_text_subtext {
  font-family: Georgia;
  font-size: 3.9vh;
  color: black;
  margin: 1vh;
}

.intro_pics_text_super_sub_text {
  font-family: Georgia;
  font-size: 3.5vh;
  color: black;
  margin: 1.2vh;
  text-decoration: line-through;
}



#about {
  margin: 9vh auto;
  text-align: center;
}

.about_title {
  font-family: Georgia;
  font-size: 3.2vh;
  color: black;
  margin-bottom: 2vh;
  margin-top: 0px;
}

.text_subtitle {
  font-size: 2.1vh;
  color: rgb(153, 152, 152);
  margin-bottom: 0px;
}

.descriptions {
  display: grid; 
  gap: 3.5vh;
}

.des_boxes {
  margin: auto;
  padding: 1.8vh; /* Set padding for the details container */
  flex: 1 0 calc(33.333% - 4rem); /* Allow the container to grow and shrink based on available space */
  background: white; 
  border-radius: 1.7rem; /* Set border radius for rounded corners */
  border: rgb(46, 46, 46) 0.12rem solid; /* Set border for the details container */
  text-align: center; /* Center text horizontally within the details container */

  height: 5vh;
  width: 58%;
  display: flex;
  transition-duration: 1.5s;
  backface-visibility: hidden;
}

.des_boxes:hover {
  width: 50%;
}

.des_boxes_text {
  font-family: Georgia;
  font-size: 2.5vh;
  color: black;
  padding: 0px;
  align-self: center;
  margin: auto;
}



#codeingk {
  align-self: center;
  text-align: center;
  display: grid;
}

.codeingk_mainbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white; 
  border-radius: 1.7rem; 
  border: rgb(46, 46, 46) 0.12rem solid; 
  width: 48%;
  height: 20vh;
  margin: 0 auto;
  gap: 3vw;
}

.codeingk_boxes {
  display: flex;
  align-self: center;
  text-align: center;
}

.codeingk_secondbox {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
}

.codeingk_icons {
  height: 6vh;
  width: 6vh;
  object-fit: cover;
  margin: auto 0;
}

.codeingk_text_title {
  margin-bottom: 0px;
}

.codeingk_text {
  margin-top: -1px;
}




#projects_dem {
  align-self: center;
  text-align: center;
  display: grid;
}

.projects_boxes_top {
  display: flex;
  justify-content: center;
}

.projects_boxes {
  background: white; 
  border-radius: 1.7rem; /* Set border radius for rounded corners */
  border: rgb(46, 46, 46) 0.12rem solid; /* Set border for the details container */
  width: 15%;
  height: 37vh;
  margin: 1vw;
}

.projects_boxes_title {
  font-family: Georgia;
  font-size: 2.5vh;
  font-weight: 38;
  margin: 2.4vh auto 0vh auto;
}

.projects_boxes_text {
  font-family: Georgia;
  font-size: 1.45vh;
  font-weight: 30;
  margin: 0.8vh auto 0vh auto;
  color: rgb(73, 70, 92);
}

.projects_boxes_image {
  height: 19vh;
  width: 88%;
  object-fit:scale-down;
}



#contact_me {
  justify-content: center;
  text-align: center;
}

.about_container {
  background: white; 
  border-radius: 2.5rem;
  border: rgb(46, 46, 46) 0.12rem solid;
  width: 38vw;
  height: 6vw;
  margin: auto;
  margin-top: 3vh;
}

.temp_container {
  margin: auto;
  text-align: center;
}

.about_container_text {
  font-family: Georgia;
  font-size: 2.6vh;
  font-weight: 30;
}

